
body{
    background-color: beige;
}

#banner{
    background-color: #E1E1E1;
    border: 5px black solid;
    margin: auto;
    width: 100%;
    text-align: center;
    margin: -10px -50px 0px -10px;
}

.header-cell{
    background-color: #E1E1E1;
    border: 2px black solid;
    padding: 10px;
}

#header{
    margin-top: 20px;
    margin-bottom: 210px;
}

.x-button{
    float: left;
}

.y-button{
    float: left;
}

.all-xy-buttons{
    border: 5px black solid;
    padding: 10px;
    background-color: #E1E1E1;
    box-sizing: border-box;
    margin-right: 5%;
    width: 35%;
    float: left;
}

#surface-plot{
    width: 60%;
    box-sizing: border-box;
    float: left;
}

